* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, sans-serif;
  background-color: white;
}
#topBar {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 10px;
  align-items: center;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.navbar-right {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
button {
  border: 2px solid black;
  padding: 10px;
  border-radius: 120px;
  font-size: 12px;
  font-weight: 800;
}
button#finish {
  background-color: black;
  color: white;
}
.material-symbols-outlined p {
  display: flex;
  flex-direction: row;
}
ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
ul li {
  overflow: hidden;
}
.content-Bar{
height: 412px;
width: 1500px;
border: 2px solid black;
margin-top: 20px;
}
.info{
width: 50%;
height: 100%;
}
#alpha{
  background-color: green;
}
#beta{
  background-color: green;
}
#omega{
  background-color: pink;
}
#sigma .info{
  background-color: green;
}
h2{
color: lightseagreen;
font-weight: 800;
font-size: 40px;
}
.text{
color: black;
font-size: 35px;
}
h2 p{
  display: flex;
justify-content: center;
align-items: center;
}